# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
python-pos-env-39/
venv/
env/
ENV/
.venv

# Environment Variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log
logs/

# Docker
.dockerignore

# Python version file
# .python-version - Intentionally added the python-version so that everyone can have the specific version

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints
